.contacts {
    background-color: aliceblue;
    width: 50%;
    height: 500px;
    margin: 75px auto;
    border-radius: 10px;
    padding: 15px;
    overflow-y: scroll;
  }
  
  .add-new-contact {
    float: right;
    font-size: 40px;
    right: 20px;
    top: 15px;
    position: relative;
    background: darkgoldenrod;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  